//RESET PAGE VALUES
//ADD SMOOTH SCROLL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  margin: inherit;
  padding: inherit;
}

.header {
  width: 100%;
  text-align: center;
  padding: 40px;
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//MOVIE SEARCH

.movie-search {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  align-content: center;
}

.confused-pic {
  width: 50%;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 30px 0 50px 0;
  min-width: 350px;

  input,
  button {
    border-radius: 3px;
    margin-right: 20px;
  }
  input {
    min-width: 250px;
  }

  button {
    min-width: 100px;
  }
}

//RESULTS

.results {
  max-width: 80%;
  text-align: center;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.result-item {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  width: 1fr;
  flex-grow: 1;
  margin: 10px 10px 10px 10px;
}

.movie {
  border: 1px solid orangered;
}

.person {
  border: 1px solid green;
}

.result-item:hover {
  cursor: pointer;
  background-color: lightgray;
}

.movie-name {
  font-weight: bold;
}

.results-legend {
  display: flex;

  justify-content: space-between;
  padding: 0 30% 0 30%;
}

.movie-red {
  border: orangered solid 3px;
  border-radius: 5px;
  width: 30px;
  flex-shrink: 0;
}

.tvShow-blue {
  border: blue solid 3px;
  border-radius: 5px;
  width: 30px;
  flex-shrink: 0;
}

.person-green {
  border: green solid 3px;
  border-radius: 5px;
  width: 30px;
  flex-shrink: 0;
}

//SELECTION

.selection-type {
  text-transform: uppercase;
}

.selection-image {
  height: 250px;
}

.selection-container {
  text-align: center;
  margin: 20px;
  img {
    margin: 10px 0 15px 30px;
  }
}

.title-image {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
}

//DETAILS
.detail-item:hover {
  cursor: pointer;
}

.credit-row:hover {
  cursor: pointer;
}

.details-container {
  padding-bottom: 50px;
  h3 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  th {
    font-size: 1.5rem;
  }
}

tr {
  cursor: pointer;
}

li {
  list-style-type: none;
}

td {
  border-bottom: rgba(128, 128, 128, 0.178) 1px solid;
  max-width: 400px;
}

//*MOBILE/SMALL SCREENS
@media screen and (max-width: 600px) {
  .title-image {
    flex-direction: column;
  }

  .search-box {
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    align-content: center;
    input {
      min-width: 250px;
      min-height: 50px;
    }
    button {
      margin-top: 15px;
      min-height: 50px;
      min-width: 250px;
    }
  }

  .header {
    padding-bottom: 10px;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .confused-pic {
    width: 100%;
  }

  .results-legend {
    display: flex;

    justify-content: space-evenly;
    padding: 0;
  }
}
